player1window {
    position: absolute;
    width: 49.5%;
    height: 49%;
    left: 2px;
    top: 2px;
    border: 2px solid grey;
    cursor: url(/media/bcurs.png) -2 -2,auto;
}

player2window {
    position: absolute;
    width: 49.5%;
    height: 49%;
    right: 2px;
    top: 2px;
    border: 2px solid grey;
    cursor: url(/media/rcurs.png) -2 -2,auto;
    color: white;
}

player3window {
    position: absolute;
    width: 49.5%;
    height: 49%;
    left: 2px;
    bottom: 2px;
    border: 2px solid grey;
    cursor: url(/media/gcurs.png) -2 -2,auto;
    color: white;
}

player4window {
    position: absolute;
    width: 49.5%;
    height: 49%;
    right: 2px;
    bottom: 2px;
    border: 2px solid grey;
    cursor: url(/media/ycurs.png) -2 -2,auto;
    color: white;
}

.playerhealth {
    position: absolute;
    bottom: 3px;
    left: 33%;
    color: white;
}

healthbubblealive {
    height: 12px;
    width: 12px;
    padding: 0px;
    border-radius: 100px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    float: left;
    margin-left: 1px;
    border: solid 1px white;
}
healthbubbledead {
    margin-left: 1px;
    height: 12px;
    width: 12px;
    padding: 0px;
    background-color: white;
    border-radius: 100px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    border:solid 1px white;
    float: left;
}