player1window {
    position: absolute;
    width: 49.5%;
    height: 49%;
    left: 2px;
    top: 2px;
    border: 2px solid grey;
    cursor: url(/media/bcurs.png) -2 -2,auto;
}

player2window {
    position: absolute;
    width: 49.5%;
    height: 49%;
    right: 2px;
    top: 2px;
    border: 2px solid grey;
    cursor: url(/media/rcurs.png) -2 -2,auto;
    color: white;
}

player3window {
    position: absolute;
    width: 49.5%;
    height: 49%;
    left: 2px;
    bottom: 2px;
    border: 2px solid grey;
    cursor: url(/media/gcurs.png) -2 -2,auto;
    color: white;
}

player4window {
    position: absolute;
    width: 49.5%;
    height: 49%;
    right: 2px;
    bottom: 2px;
    border: 2px solid grey;
    cursor: url(/media/ycurs.png) -2 -2,auto;
    color: white;
}

.playerhealth {
    position: absolute;
    bottom: 3px;
    left: 33%;
    color: white;
}

healthbubblealive {
    height: 12px;
    width: 12px;
    padding: 0px;
    border-radius: 100px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    float: left;
    margin-left: 1px;
    border: solid 1px white;
}
healthbubbledead {
    margin-left: 1px;
    height: 12px;
    width: 12px;
    padding: 0px;
    background-color: white;
    border-radius: 100px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    border:solid 1px white;
    float: left;
}

p1healthadd {
    text-align:center;
    position:absolute;
    /*float: left;*/
    color: grey;
    bottom:24px;
    left:36%;
}

healthslash {
    position:absolute;
    animation-name:slash;
    animation-duration:1s;
    opacity:0;
    float:left;
    height: 6px;
    width: 12px;
    background-color:grey;
    left:30%;
    bottom:9px;
}

@keyframes slash{


    10% {
        opacity:100;
    }
    20% {
        left:27%;
    }
    50% {
        left:69%;
    }
    80% {
        left: 69%;
        opacity: 100;
    }
    100% {
        left: 69%;
        opacity: 0;
    }


}
