
.main {
    cursor: url(/media/rainbowcurse.png) -2 -2,auto;
}

html {
    background-color: black;
    color: grey;
    font-family: 'Share Tech', sans-serif;
}

lobby-table {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 201px 201px 201px;
}

lobby-item {
    background-color: dimgrey;
    border: thin black;
    cursor: pointer;
    transition:background-color .5s;
}
lobby-item:hover {
        
    background-color:darkgreen;
}

lobby-window {
    text-align: center;
    /*border: dashed 5px red;*/
    background: black;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 1071px;
    height: 603px;
    
}

main-window {
   /* border: dashed 5px white;*/
    margin: auto;
    width: 95%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

#p1 {
    cursor: url(/media/bcurs.png) -2 -2,auto;
}

#p2 {
    cursor: url(/media/rcurs.png) -2 -2,auto;
}

#p3 {
    cursor: url(/media/gcurs.png) -2 -2,auto;
}

#p4 {
    cursor: url(/media/ycurs.png) -2 -2,auto;
}

game-window {
    text-align: center;
   /* border: dashed 5px red;*/
    background: black;
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 1072px;
    height: 603px;
}



cant-select-zone {
    /*makes the text not highlightable*/
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
 


#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}


