@page "/"

<h1 style="text-align:center">Welcome to unnamed game!</h1>
<h2 style="text-align:center">Please choose your lobby.</h2>



<main-window>

    <lobby-window>

        <LobbyWindow />

    </lobby-window>




</main-window>

